//Site Wide Stuff

* {
	padding: 0;
	margin: 0;
}

// Header Stuff


//Body Stuff

.container {
	margin: 0 auto;
	margin-top: 200px;
	max-width: 800px;
}

.table_area {
	margin: 0 auto;
	width: 600px;
}

#call_text_to_say {
	height: 35px;
}

td {
	text-align: left;
	padding: 7px 10px 7px 0;
}

.table_area {
	text-align: center;
}

input {
	width: 100%;
}

#sub_butt {
	text-align: center;
	margin: 15px 0;
	input {
		width: 200px;
		font-weight: bold;
		font-style: helvetica, sans serif;
		font-size: 18px;
	}
}
